/*Assign color variables to root ---------------------------------------------------------*/
:root {
    --color1: #D4C6A3;
    --color2: #6D523F;
    --color3: #fffbf2;
}

/*Box-sizing to maintain element inside parent containers--------------------------------*/

*,
*::before,
*::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
}

/*font family-----------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento&display=swap');

/*----------------------------------------------------------------------------------------*/

html {
    color: var(--color2);
    font-family: 'Quattrocento', serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: calc(calc(1.8rem) * 1.618);
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: calc(calc(1.2rem) * 1.618);
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: calc(calc(1rem) * 1.618);
}

a {
    color: var(--color2);
}

p, label {
    font-size: 1.4rem;
}

header {
    background: linear-gradient(to bottom, var(--color1) 0%, var(--color1)  75%, var(--color2) 75%, var(--color2)  100%);
    width: 100%;
    height: calc(60vw);
    padding: 0;
    padding-top: calc(14vw);
}

#subject {
    padding: 0;
    text-align: center;
}

#subject h1 {
    text-align: center;
}

#subject p {
    text-align: center;
}

.img-container {
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: calc(25vw);
    width: calc(100vw - 4rem);
    height: inherit;
}

#img-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: calc(50vw);
    overflow: hidden;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;
    margin: auto;
}

#img-caption {
    position: absolute;
    padding: 0 2rem;
    bottom: 1rem;
    left: 0; right: 0; margin: 0 auto;
    font-size: 0.8rem;
    line-height: 2;
    color: var(--color3);
    z-index: 2;
}

#tribute-info {
    padding: 0 2rem;
}

.section-heading {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

#underline {
    display: block;
    background-color: var(--color1);
    width: 154px;
    height: 0.5rem;
    margin: 0.5rem auto;
}

.tribute {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-column-gap: 2rem;
    margin: 2rem 0;
    text-align: justify;
    padding: 2rem 0;
    border: none;
    border-bottom: 1px solid var(--color1);
}

.tribute:nth-child(odd) {
    direction: rtl;
}

.year{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--color1);
    width: 5rem;
    height: 5rem;
}

.text {
    direction: ltr;
}

.more-info {
    background-color: var(--color1);
    text-align: center;
    padding: 2rem;
}

.links {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.quote {
    text-align: center;
    margin: 2rem 0;
}

.copyright {
    align-items: center;
    background-color: var(--color2);
    color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    padding: 4rem;
}

.copyright small {
    font-size: 14px;
}

.copyright .left {
    align-items: center;
    border: none;
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.copyright .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-top: 2px solid var(--color1);
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.fa {
    margin-right: 5px;
}

#freeCodeCamp path {
    fill: var(--color1);
}

#freeCodeCamp {
    width: 100%;
    height: auto;
}

/*media queries---------------------------------------------------------------------------*/